html {
    height: 100%;
}

body {
    font-family:'Roboto Mono', 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
}

body, html {
    overflow-y: hidden;
}

.wrapper {
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.settings {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

#examSettings ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#examSettings li {
    display: inline-block;
}

#extraTimeToggle {
    padding: 0;
    margin: 0;
    transform: scale(1.25);
}

.settings input {
    width: 40px;
}

.center {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#clock {
    font-size: 18vw;
}

.timeInfo {
    justify-content: center;
    font-size: 4vw;
}

.timeInfo ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.timeInfo li {
    margin: 0 4vw;
}

#extraTimeInfo {
    display: none;
}